body {
  background-color: lavender;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  display: grid;
  justify-content: center;
  text-shadow: 1px 2px lightgrey;
}
.main1 {
  padding: 20px;
  background-color: grey;
  width: 800px;
  border-radius: 5px 5px 0px 0px;
  display: grid;
  box-shadow: 3px 3px #A3A19C;
  grid-template-areas:
  'img1 img2 img3 img4';
}
.main2 {
  padding: 20px;
  background-color: #948F8E;
  width: 800px;
  display: grid;
  box-shadow: 3px 3px #A3A19C;
  grid-template-areas: 'img5 img6 img7 img8';
}
.main3 {
  padding: 20px;
  background-color: grey;
  width: 800px;
  display: grid;
  box-shadow: 3px 3px #A3A19C;
  grid-template-areas: 'img9 img10 img11 img12';
}
.main4 {
  padding: 20px;
  background-color: #948F8E;
  width: 800px;
  display: grid;
  box-shadow: 3px 3px #A3A19C;
  grid-template-areas: 'img13 img14 img15 img16';
}
.main5 {
  padding: 20px;
  background-color: grey;
  width: 800px;
  display: grid;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 3px 3px #A3A19C;
  grid-template-areas: 'img17 img18 img19 img20';
}
img {
  width: 150px;
  height: 150px;
  border: 3px solid lavender;
  border-radius: 50%;
  padding: 2px;
  background-color: #333;
}
img:hover {
  width: 165px;
  height: 165px;
}
p {
  color: lavender;
  font-weight: 400;
  font-size: 110%;
  text-shadow: 1px 2px #333;
}
span {
  color: indianred;
}
h1 {
  color: #333;
}
h2 {
  color: #333;
  position: relative;
  top: -30px;
}
footer {
  padding: 20px;
}
.img1 {
  width: 200px;
  height: 200px;
}
.img2 {
  width: 200px;
  height: 200px;
}
.img3 {
  width: 200px;
  height: 200px;
}
.img4 {
  width: 200px;
  height: 200px;
}
.img5 {
  width: 200px;
  height: 200px;
}
.img6 {
  width: 200px;
  height: 200px;
}
.img7 {
  width: 200px;
  height: 200px;
}
.img8 {
  width: 200px;
  height: 200px;
}
.img9 {
  width: 200px;
  height: 200px;
}
.img10 {
  width: 200px;
  height: 200px;
}
.img11 {
  width: 200px;
  height: 200px;
}
.img12 {
  width: 200px;
  height: 200px;
}
.img13 {
  width: 200px;
  height: 200px;
}
.img14 {
  width: 200px;
  height: 200px;
}
.img15 {
  width: 200px;
  height: 200px;
}
.img16 {
  width: 200px;
  height: 200px;
}
.img17 {
  width: 200px;
  height: 200px;
}
.img18 {
  width: 200px;
  height: 200px;
}
.img19 {
  width: 200px;
  height: 200px;
}
.img20 {
  width: 200px;
  height: 200px;
}
