body {
  display: flex;
  flex-direction: row;
}
@media only screen and (min-width: 992px) {
.col-3 {
  background-color: violet;
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
}
.col-6 {
  background-color: violet;
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
}
.col-5 {
  background-color: violet;
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
}
.col-2 {
  background-color: violet;
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
}
.col-4 {
  background-color: violet;
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
}
.col-1 {
  background-color: violet;
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
}
.col-7 {
  background-color: violet;
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
}
.col-8 {
  background-color: violet;
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
}
.col-9 {
  background-color: violet;
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
  padding: 5px;
}
.col-10 {
  background-color: violet;
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
}
.col-11 {
  background-color: violet;
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
}
.col-12 {
  background-color: violet;
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
}
}
